    <div class="customModal hide">
        <div class="content">
            <div class="header">
                <h1>Ponto de coleta</h1>
                <a class="close" href="#"><img src="icons/x.svg">fechar</a>
            </div>
            <form action="search">
                <label for="city"> pesquisar</label>
                <div class="field">
                    <input type="text" name ="city" placeholder="Digite o nome de sua cidade">
                    <button>
                        <img src="icons/search.svg" >
                    </button>
                </div>
            </form>
        </div>
    </div>
    