{% extends 'includes/layout.html' %}
    {% block styles %}
    <link rel="stylesheet" href="styles/search.css">
    {% endblock styles %}


{% block content %}
{%include "includes/navBarReturn.html"%}
    <div id="search" class="container-fluid">
        
            <main>
                <div class="cards card">
                    <div class="card-body">
                        {% if total > 0 %}
                        <h4 class="card-title title"><Strong>{{total}} Pontos encontrados</Strong></h4>
                        <div class="d-grid">
                        {% for place in places %}
                        <div class="card card3">
                            <img class="card-img-top" src="{{place.url}}" alt="{{place.entidade}}}">
                            <h2 calss=>{{place.entidade}}</h2>
                            <h3>{{place.itens}}</h3>
                            <p>{{place.city}}<br>
                                {{place.adress}} <br>
                                Número {{place.number}}
                            </p>
                        </div>
                        {% endfor %}
                        {% else %}
                        <h4 class="card-title title"><Strong>Nenhum ponto encontrado</Strong></h4>
                        {% endif %}
                    </div>
            </div>
                </div>
    </div>
</main>
{% endblock content %}