{% extends 'includes/layout.html' %}
    {% block styles %}
    <link rel="stylesheet" href="styles/search.css">
    {% endblock styles %}


{% block content %}
    <div id="search" class="container-fluid">
        
            {%include "includes/navBarReturn.html"%}
            <main>
                <div class="cards card">
                    <div class="card-body">
                        <h4 class="card-title title"><Strong>{{title}}</Strong></h4>
                        <div class="d-grid">
                        {% for place in places %}
                        <div class="card card3">
                            <img class="card-img-top" src="{{place.url}}" alt="{{place.entidade}}}">
                            <h2 calss=>{{place.entidade}}</h2>
                            <h3>{{place.itens}}</h3>
                            <p>{{place.city}}<br>
                                {{place.addres}} <br>
                                {{place.number}}
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </main>
    </div>
{% endblock content %}